body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: 50px;
    background-color: #141204;
}
hr {
    border: none;
}
header, main, footer {
    margin: 50px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #262A10;
    border-radius: 10px;
    background-color: #54442B;

    box-shadow: 5px 5px 9px 0px #262A10;

    color: #E8985E;
}
.dani {
    margin: 20px 0px 20px 0px;

    font-size: 20px;
    color: #A9714B;

    display: flex;
    flex-direction: column;
}

input {
    width: 96.8%;
    height: 12px;
    background: rgba(25, 28, 32, 0.3);
    color: #A9714B;
    
    border: 2px solid #262A10;
    padding: 20px;

    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: outline 0.3s;
}
input:focus {
    outline: 1px dashed #E8985E;
}

.figniushka {
    width: 96%;
    position: relative;
    top: 10px;
    left: 50px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #262A10;
    border-radius: 4px;
    background-color: rgba(25, 28, 32, 0.3);

    color: #A9714B;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    resize: none;

    transition: outline 0.3s;
}
textarea:focus{
    outline: 1px dashed #E8985E;
}
::placeholder {
    color: #A9714B;
    opacity: 0.2;
}

footer {
    padding: 20px 20px 20px 20px;
}
button {
    width: 100%;

    padding: 20px;
    cursor: pointer;

    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border: 2px double #262A10;
    border-radius: 10px;
    background-color: #A9714B;
    color: #141204;

    transition: font-size 0.3s;
}
button:hover {
    font-size: 135%;
}
button:active {
    background-color: #754d32;
}