<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating..</title>
    <link rel="stylesheet" href="../../static/38.css">
</head>

<body>
    <header>
        <h1>Update Article</h1>
    </header>
    <main>
        <div class="dani">
            <div class="imiachko">
                <input type="text" placeholder="Article Title" value="My first artiicle">
            </div>
            <div class="figniushka">
                <input type="text" placeholder="Description" value="This is my first blog, idk why the date here is the most recent one lol. Yippie!!!">
            </div>
            <hr>
            <div class="kada">
                <input type="text" placeholder="Publishing Date" value="August 7, 2024">
            </div>
            <hr>
            <div class="interesninko">
                <textarea name="text" id="" placeholder="Content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non provident, sunt in culpa qui official deserunt mollit anim id est laborum.</textarea>
                <!-- <input type="text" placeholder="Content"> -->
            </div>
        </div>
    </main>

    <footer>
        <button>Update!</button>
    </footer>
</body>

</html>