<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating..</title>
    <link rel="stylesheet" th:href="@{/css/article.css}">
</head>

<body>
<header>
    <h1>Update Article</h1>
</header>
<form th:action="@{/update/{id}(id=${article.id})}" th:object="${article}" method="post">
    <main>
        <div class="dani">
            <div class="imiachko">
                <input type="text" placeholder="Article Title" th:value="${article.title}" th:field="*{title}">
            </div>
            <div class="figniushka">
                <input type="text" placeholder="Description" th:value="${article.description}" th:field="*{description}">
            </div>
            <hr>
            <div class="kada">
                <input type="text" placeholder="Publishing Date" th:value="${article.date}" th:field="*{date}">
            </div>
            <hr>
            <div class="interesninko">
                <textarea name="text" id="" placeholder="Content" th:text="${article.content}" th:field="*{content}"></textarea>

                <!-- <input type="text" placeholder="Content"> -->
            </div>
        </div>
    </main>
    <footer>
        <button type="submit">Update!</button>
    </footer>
</form>

</body>

</html>