<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog / Creator Mode</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
<header>
    <div class="fignya">
        <h1>Personal Blog</h1>
        <p>Tiny weeny description <i>(optional)</i></p>
    </div>
    <div class="ashesho">
        <form th:action="@{/new_article}" method="get">
            <button type="submit">+ Add</button>
        </form>
    </div>
</header>
<main>
    <ul>
        <li th:each="item : ${all_articles}">
            <div class="dani">
                <div class="imiachko">
                    <p>
                        <a th:href="@{/article_update/{id}(id=${item.id})}" th:text="${item.title}"></a>
                    <form th:action="@{/delete/{id}(id=${item.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                    </p>
                </div>
                <div class="kada">
                    <p th:text="${item.date}"></p>
                </div>
            </div>
            <hr>
        </li>
    </ul>

    <hr>
</main>
</body>

</html>