<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog / Creator Mode</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
<header>
    <div class="fignya">
        <h1>Personal Blog</h1>
        <p>Tiny weeny description <i>(optional)</i></p>
    </div>
    <div class="ashesho">
        <form th:action="@{/new_article}" method="get">
            <button type="submit">+ Add</button>
        </form>
    </div>
</header>
<main>
    <div class="dani">
        <ul>
            <li th:each="item : ${all_articles}">
                <div class="imiachko">
                    <p>
                        <a th:href="@{article/{id}(id=${item.id})}" th:text="${item.title}"></a>
                    </p>
                </div>
            </li>
        </ul>
        <!--        <div class="imiachko">-->
        <!--            <p><a href="/src/main/resources/articlenal-blog/src/main/resources/article/update_article.html">My first blog</a></p>-->
        <!--        </div>-->
        <!--        <div class="manipulator">-->
        <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
        <!--            <button>Delete</button>-->
        <!--        </div>-->
    </div>
    <hr>
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Second article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Third article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Fourth article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Fifth article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Sixth article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Seventh article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Eighth article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="dani">-->
    <!--        <div class="imiachko">-->
    <!--            <p><a href="">Nineth article</a></p>-->
    <!--        </div>-->
    <!--        <div class="manipulator">-->
    <!--            <a href="/src/main/resources/editrsonal-blog/src/main/resources/edit/update_article.html">Edit</a>-->
    <!--            <button>Delete</button>-->
    <!--        </div>-->
    <!--    </div>-->
</main>
</body>

</html>