<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <header>
        <h1>Personal Blog</h1>
        <p>Tiny weeny description <i>(optional)</i></p>
    </header>
    <main>
        <div class="dani">
            <div class="imiachko">
                <p><a href="/src/main/resources/templates/article/38.html">My first blog</a></p>
            </div>
            <div class="kada">
                <p>August 7, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Second article</a></p>
            </div>
            <div class="kada">
                <p>August 4, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Third article</a></p>
            </div>
            <div class="kada">
                <p>August 1, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Fourth article</a></p>
            </div>
            <div class="kada">
                <p>July 30, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Fifth article</a></p>
            </div>
            <div class="kada">
                <p>July 21, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Sixth article</a></p>
            </div>
            <div class="kada">
                <p>July 15, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Seventh article</a></p>
            </div>
            <div class="kada">
                <p>July 8, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Eighth article</a></p>
            </div>
            <div class="kada">
                <p>July 4, 2024</p>
            </div>
        </div>
        <hr>
        <div class="dani">
            <div class="imiachko">
                <p><a href="">Nineth article</a></p>
            </div>
            <div class="kada">
                <p>July 1, 2024</p>
            </div>
        </div>
    </main>
</body>

</html>