<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<header>
    <h1>Personal Blog</h1>
    <p>Tiny weeny description <i>(optional)</i></p>
</header>
<main>
    <ul>
        <li th:each="item : ${all_articles}">
            <div class="dani">
                <div class="imiachko">
                    <p>
                        <a th:href="@{/article/{id}(id=${item.id})}" th:text="${item.title}"></a>
                    </p>
                </div>
                <div class="kada">
                    <p th:text="${item.date}"></p>
                </div>
            </div>
            <hr>
        </li>
    </ul>
</main>
</body>

</html>