<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating..</title>
    <link rel="stylesheet" href="../static/new.css">
</head>

<body>
    <header>
        <h1>New Article</h1>
    </header>
    <main>
        <div class="dani">
            <div class="imiachko">
                <input type="text" placeholder="Article Title">
            </div>
            <div class="figniushka">
                <input type="text" placeholder="Description">
            </div>
            <hr>
            <div class="kada">
                <input type="text" placeholder="Publishing Date">
            </div>
            <hr>
            <div class="interesninko">
                <textarea name="text" id="" placeholder="Content"></textarea>
            </div>
        </div>
    </main>

    <footer>
        <button>Publish!</button>
    </footer>
</body>

</html>