<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
    <link rel="stylesheet" th:href="@{/css/new.css}">
</head>

<body>
    <header>
        <h1>New Article</h1>
    </header>
    <main>
        <form th:action="@{/new}" method="post" class="dani" id="articleForm">
            <div class="imiachko">
                <input type="text" name="title" placeholder="Article Title" required>
            </div>
            
            <div class="figniushka">
                <input type="text" name="description" placeholder="Description" required>
            </div>
            
            <hr>
            
            <div class="kada">
                <input type="date" name="publishDate" placeholder="Publishing Date">
            </div>
            
            <hr>
            
            <div class="interesninko">
                <textarea name="content" placeholder="Content" required></textarea>
            </div>
        </form>
    </main>

    <footer>
        <button type="submit" form="articleForm">Publish!</button>
        <p style="margin-top: 10px;"><a th:href="@{/}" style="color: #E8985E;">← Back to Home</a></p>
    </footer>
</body>

</html>
